.avatarProfileNotifications{
    display: flex;
    width: 20vh;
    height: 20vh;
    border-radius: 300px;
    border: 1px solid var(--twitter-background);
    border-width: 3px;
    position: relative;
    margin-left: 10px;
    margin-bottom: 15px;
    background-color: var(--twitter-background);
}

.all__text{
    font-size: 20px;
}

.all__body{
    border-top: 2px solid var(--twitter-background);
    padding-top: 20px;
    padding-left: 40px;
}

