.notifications__header {
    position: sticky;
    font-weight: 500;
    font-size: 25px;
    background-color: white;
    z-index: 1;
    padding: 0px 20px;
    cursor: pointer;
    height: fit-content;
}

.notifications {
    flex: 0.5;
    overflow-y: scroll;
    border-right: 1px solid var(--twitter-background);
    border-left: 1px solid var(--twitter-background);
    width: fit-content;
}

.notifications::-webkit-scrollbar {
    display: none;
}

.notifications__body {
    display: flex;
    height: fit-content;
    width: 100vh;
    justify-content: space-around;
}
.notifications__button {
    display: flex;
    font-size: 24px;
    justify-content: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: grey;
    height: fit-content;
}

.notifications__button:hover {
    background-color: var(--twitter-background);
}

.all__body {
    width: 100vh;
}